/* line 18, ../sass/app.sass */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 21, ../sass/app.sass */
::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

/* line 24, ../sass/app.sass */
html {
  font-size: 300%;
}
@media (max-width: 1440px), (max-height: 720px) {
  /* line 24, ../sass/app.sass */
  html {
    font-size: 250%;
  }
}
@media (max-width: 1024px), (max-height: 512px) {
  /* line 24, ../sass/app.sass */
  html {
    font-size: 225%;
  }
}
@media (max-width: 568px), (max-height: 284px) {
  /* line 24, ../sass/app.sass */
  html {
    font-size: 200%;
  }
}

/* line 36, ../sass/app.sass */
html, body {
  width: 100%;
  height: 100%;
}

/* line 40, ../sass/app.sass */
body {
  margin: 0;
  font-size: 16px;
  font-family: "Helvetica Neue";
  color: black;
}

/* line 46, ../sass/app.sass */
.example-container {
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

/* line 65, ../sass/app.sass */
input[type="text"], input[type="url"], input[type="password"], .input-display, .input-validator {
  border: 0;
  background: transparent;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.75em 1em;
  width: 100%;
}

/* line 73, ../sass/app.sass */
.contextual.fields {
  width: 16rem;
  max-width: 90%;
}
/* line 77, ../sass/app.sass */
.contextual.fields .field {
  width: 100%;
}
/* line 80, ../sass/app.sass */
.contextual.fields input[type="text"], .contextual.fields input[type="url"], .contextual.fields input[type="password"] {
  opacity: 0;
  color: pink;
}
/* line 84, ../sass/app.sass */
.contextual.fields input[type="text"]:focus, .contextual.fields input[type="url"]:focus, .contextual.fields input[type="password"]:focus {
  outline: none;
}
/* line 87, ../sass/app.sass */
.contextual.fields .input-display, .contextual.fields .input-validator {
  -webkit-transition: all 0.3s;
  color: inherit;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-pointer-events: none;
  pointer-events: none;
}
/* line 98, ../sass/app.sass */
.contextual.fields .input-display {
  opacity: 0.1;
}
/* line 101, ../sass/app.sass */
.contextual.fields .input-display .selection {
  background: rgba(0, 0, 0, 0.1);
}
/* line 104, ../sass/app.sass */
.contextual.fields .input-validator {
  opacity: 0;
  color: rgba(0, 0, 0, 0);
}
/* line 108, ../sass/app.sass */
.contextual.fields .input-validator .selection {
  position: relative;
}
/* line 114, ../sass/app.sass */
.contextual.fields .input-validator .selection.invalid {
  background: rgba(200, 0, 0, 0.2);
}
/* line 119, ../sass/app.sass */
.contextual.fields .input-validator .selection[data-validator-label]:before {
  content: attr(data-validator-label);
  position: absolute;
  display: block;
  bottom: -0.7rem;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 0.3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
  color: black;
  padding-top: 0.2rem;
  border-top: 0.1rem solid;
}
/* line 135, ../sass/app.sass */
.contextual.fields .input-validator .selection[data-validator-label][data-value-length="0"]:before {
  top: -0.7rem;
  border-top: 0;
}
/* line 139, ../sass/app.sass */
.contextual.fields .input-validator .selection[data-strength]:before {
  content: "";
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.1rem;
}
/* line 149, ../sass/app.sass */
.contextual.fields .input-validator .selection[data-strength="weak"]:before {
  background: rgba(200, 0, 0, 0.5);
}
/* line 152, ../sass/app.sass */
.contextual.fields .input-validator .selection[data-strength="ok"]:before {
  background: #ffa000;
}
/* line 155, ../sass/app.sass */
.contextual.fields .input-validator .selection[data-strength="strong"]:before {
  background: rgba(0, 200, 0, 0.5);
}
/* line 158, ../sass/app.sass */
.contextual.fields .field.field-focused .input-display {
  opacity: 1;
  overflow: hidden;
  white-space: nowrap;
}
/* line 163, ../sass/app.sass */
.contextual.fields .field.field-focused .input-display.placeholder {
  color: rgba(0, 0, 0, 0.35);
}
/* line 166, ../sass/app.sass */
.contextual.fields .field.field-focused .input-display .cursor {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
  -webkit-animation: blink 1.1s linear infinite;
}
/* line 174, ../sass/app.sass */
.contextual.fields .field.field-focused .input-display .cursor:after {
  content: "";
  background: black;
  width: 1px;
  display: block;
  position: absolute;
  top: -0.05em;
  bottom: 0.1em;
}
/* line 183, ../sass/app.sass */
.contextual.fields .field.field-focused .input-validator {
  opacity: 1;
}

@-webkit-keyframes blink {
  /* line 187, ../sass/app.sass */
  0% {
    opacity: 1;
  }

  /* line 189, ../sass/app.sass */
  50% {
    opacity: 1;
  }

  /* line 191, ../sass/app.sass */
  51% {
    opacity: 0;
  }

  /* line 193, ../sass/app.sass */
  100% {
    opacity: 0;
  }
}

/* line 196, ../sass/app.sass */
.field {
  -webkit-transition: all 0.6s;
  opacity: 0;
}
/* line 200, ../sass/app.sass */
.field:nth-child(1) {
  -webkit-transform: translateY(0.5rem);
  -webkit-transition-duration: 1s;
  -webkit-transition-delay: 0.5s;
}
/* line 205, ../sass/app.sass */
.field:nth-child(2) {
  -webkit-transform: translateY(1rem);
  -webkit-transition-delay: 0.2s;
}
/* line 209, ../sass/app.sass */
.field:nth-child(3) {
  -webkit-transform: translateY(2rem);
  -webkit-transition-delay: 0s;
}

/* line 213, ../sass/app.sass */
body.page-loaded .field {
  opacity: 1;
  -webkit-transform: translateY(0);
}
