/* line 3, ../sass/app.sass */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 6, ../sass/app.sass */
::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

/* line 9, ../sass/app.sass */
html {
  font-size: 300%;
}
@media (max-width: 1440px), (max-height: 720px) {
  /* line 9, ../sass/app.sass */
  html {
    font-size: 250%;
  }
}
@media (max-width: 1024px), (max-height: 512px) {
  /* line 9, ../sass/app.sass */
  html {
    font-size: 225%;
  }
}
@media (max-width: 568px), (max-height: 284px) {
  /* line 9, ../sass/app.sass */
  html {
    font-size: 200%;
  }
}

/* line 21, ../sass/app.sass */
html, body {
  width: 100%;
  height: 100%;
}

/* line 25, ../sass/app.sass */
body {
  margin: 0;
  font-size: 16px;
  font-family: "Helvetica Neue";
  color: black;
}

/* line 31, ../sass/app.sass */
.example-container {
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

/* line 50, ../sass/app.sass */
input[type="text"], input[type="url"], input[type="password"], .input-display, .input-validator {
  border: 0;
  background: transparent;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.75em 1em;
  width: 100%;
}

/* line 58, ../sass/app.sass */
.contextual.fields {
  width: 16rem;
  max-width: 90%;
}
/* line 62, ../sass/app.sass */
.contextual.fields .field {
  width: 100%;
}
/* line 65, ../sass/app.sass */
.contextual.fields input[type="text"], .contextual.fields input[type="url"], .contextual.fields input[type="password"] {
  opacity: 0;
  color: black;
}
/* line 69, ../sass/app.sass */
.contextual.fields input[type="text"]:focus, .contextual.fields input[type="url"]:focus, .contextual.fields input[type="password"]:focus {
  outline: none;
}
/* line 72, ../sass/app.sass */
.contextual.fields .input-display, .contextual.fields .input-validator {
  -webkit-transition: all 0.3s;
  color: inherit;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  white-space: nowrap;
  -webkit-pointer-events: none;
  pointer-events: none;
}
/* line 85, ../sass/app.sass */
.contextual.fields .input-display {
  opacity: 0.1;
}
/* line 88, ../sass/app.sass */
.contextual.fields .input-display .selection {
  background: rgba(0, 0, 0, 0.1);
}
/* line 91, ../sass/app.sass */
.contextual.fields .input-display:after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  width: 5rem;
  border-right: 1rem solid white;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), #ffffff);
  background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0), #ffffff);
  background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0), #ffffff);
  background-image: linear-gradient(left, rgba(255, 255, 255, 0), #ffffff);
  -webkit-pointer-events: none;
  pointer-events: none;
}
/* line 104, ../sass/app.sass */
.contextual.fields .input-validator {
  opacity: 0;
  color: rgba(0, 0, 0, 0);
}
/* line 108, ../sass/app.sass */
.contextual.fields .input-validator .selection {
  position: relative;
}
/* line 111, ../sass/app.sass */
.contextual.fields .input-validator .selection:not(:last-child):before {
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 118, ../sass/app.sass */
.contextual.fields .input-validator .selection.invalid {
  background: rgba(200, 0, 0, 0.2);
}
/* line 123, ../sass/app.sass */
.contextual.fields .input-validator .selection[data-validator-label]:before {
  content: attr(data-validator-label);
  position: absolute;
  display: block;
  bottom: -0.7rem;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 0.3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
  color: black;
  padding-top: 0.2rem;
  border-top: 0.1rem solid;
  white-space: nowrap;
}
/* line 140, ../sass/app.sass */
.contextual.fields .input-validator .selection[data-validator-label][data-value-length="0"]:before {
  top: -0.7rem;
  border-top: 0;
}
/* line 144, ../sass/app.sass */
.contextual.fields .input-validator .selection[data-strength]:before {
  content: "";
  -webkit-transition: background 0.3s;
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.1rem;
}
/* line 154, ../sass/app.sass */
.contextual.fields .input-validator .selection[data-strength="weak"]:before {
  background: rgba(200, 0, 0, 0.5);
}
/* line 157, ../sass/app.sass */
.contextual.fields .input-validator .selection[data-strength="ok"]:before {
  background: #ffa000;
}
/* line 160, ../sass/app.sass */
.contextual.fields .input-validator .selection[data-strength="strong"]:before {
  background: rgba(0, 200, 0, 0.5);
}
/* line 163, ../sass/app.sass */
.contextual.fields .field.field-focused .input-display {
  opacity: 1;
}
/* line 166, ../sass/app.sass */
.contextual.fields .field.field-focused .input-display.placeholder {
  color: rgba(0, 0, 0, 0.35);
}
/* line 169, ../sass/app.sass */
.contextual.fields .field.field-focused .input-display .cursor {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
  -webkit-animation: blink 1.1s linear infinite;
}
/* line 177, ../sass/app.sass */
.contextual.fields .field.field-focused .input-display .cursor:after {
  content: "";
  background: black;
  width: 1px;
  display: block;
  position: absolute;
  top: -0.05em;
  bottom: 0.1em;
}
/* line 186, ../sass/app.sass */
.contextual.fields .field.field-focused .input-validator {
  opacity: 1;
}

@-webkit-keyframes blink {
  /* line 190, ../sass/app.sass */
  0% {
    opacity: 1;
  }

  /* line 192, ../sass/app.sass */
  50% {
    opacity: 1;
  }

  /* line 194, ../sass/app.sass */
  51% {
    opacity: 0;
  }

  /* line 196, ../sass/app.sass */
  100% {
    opacity: 0;
  }
}

/* line 199, ../sass/app.sass */
.field {
  -webkit-transition: all 0.6s;
  opacity: 0;
}
/* line 203, ../sass/app.sass */
.field:nth-child(1) {
  -webkit-transform: translateY(0.5rem);
  -webkit-transition-duration: 1s;
  -webkit-transition-delay: 0.5s;
}
/* line 208, ../sass/app.sass */
.field:nth-child(2) {
  -webkit-transform: translateY(1rem);
  -webkit-transition-delay: 0.2s;
}
/* line 212, ../sass/app.sass */
.field:nth-child(3) {
  -webkit-transform: translateY(2rem);
  -webkit-transition-delay: 0s;
}

/* line 216, ../sass/app.sass */
body.page-loaded .field {
  opacity: 1;
  -webkit-transform: translateY(0);
}

/* line 222, ../sass/app.sass */
.three-dee-toggle {
  position: fixed;
  top: 1rem;
  left: 1rem;
  font-size: 0.5rem;
  cursor: pointer;
  -webkit-transition: opacity 0.5s;
  opacity: 0.5;
}
/* line 231, ../sass/app.sass */
.three-dee-toggle:hover, .three-dee-toggle.three-dee-toggled {
  opacity: 1;
}

/* line 240, ../sass/app.sass */
body.three-dee-primed .contextual.fields, body.three-dee-primed .contextual.fields .input-validator, body.three-dee-primed .contextual.fields .input-display, body.three-dee-primed .contextual.fields input, body.three-dee .contextual.fields, body.three-dee .contextual.fields .input-validator, body.three-dee .contextual.fields .input-display, body.three-dee .contextual.fields input {
  -webkit-transition: all 1s !important;
}

/* line 251, ../sass/app.sass */
body.three-dee .example-container .contextual .field:not(.field-focused) {
  opacity: 0;
  pointer-events: none;
}
/* line 257, ../sass/app.sass */
body.three-dee .example-container .contextual .field.field-focused .input-validator {
  -webkit-transform: translateY(0rem) rotateX(46deg) rotateY(20deg) rotateZ(-20deg);
  opacity: 1 !important;
  background: #ebebeb !important;
  z-index: 3;
  position: absolute;
}
/* line 264, ../sass/app.sass */
body.three-dee .example-container .contextual .field.field-focused .input-display {
  -webkit-transform: translateY(3rem) rotateX(46deg) rotateY(20deg) rotateZ(-20deg);
  opacity: 1 !important;
  background: #ebebeb !important;
  z-index: 2;
  position: absolute;
}
/* line 271, ../sass/app.sass */
body.three-dee .example-container .contextual .field.field-focused .input-display:after {
  opacity: 0;
}
/* line 274, ../sass/app.sass */
body.three-dee .example-container .contextual .field.field-focused input {
  -webkit-transform: translateY(6rem) rotateX(46deg) rotateY(20deg) rotateZ(-20deg);
  box-shadow: 0 0 0 3px black !important;
  opacity: 1 !important;
  z-index: 1;
  position: relative;
}
