/* line 5, ../sass/textual-theme-subtle.sass */
.textual.textual-theme-subtle input, .textual.textual-theme-subtle .input-display, .textual.textual-theme-subtle .input-validator {
  border: 0;
  background: transparent;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.75em 1em;
  width: 100%;
}
/* line 13, ../sass/textual-theme-subtle.sass */
.textual.textual-theme-subtle .textual-field {
  position: relative;
}
/* line 16, ../sass/textual-theme-subtle.sass */
.textual.textual-theme-subtle input {
  opacity: 0;
  color: black;
}
/* line 20, ../sass/textual-theme-subtle.sass */
.textual.textual-theme-subtle input:focus {
  outline: none;
}
/* line 23, ../sass/textual-theme-subtle.sass */
.textual.textual-theme-subtle .input-display, .textual.textual-theme-subtle .input-validator {
  -webkit-transition: all 0.3s;
  color: inherit;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  white-space: nowrap;
  -webkit-pointer-events: none;
  pointer-events: none;
}
/* line 36, ../sass/textual-theme-subtle.sass */
.textual.textual-theme-subtle .input-display {
  opacity: 0.1;
}
/* line 39, ../sass/textual-theme-subtle.sass */
.textual.textual-theme-subtle .input-display .selection {
  background: rgba(0, 0, 0, 0.1);
}
/* line 42, ../sass/textual-theme-subtle.sass */
.textual.textual-theme-subtle .input-display:after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  width: 5rem;
  border-right: 1rem solid white;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), #ffffff);
  background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0), #ffffff);
  background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0), #ffffff);
  background-image: linear-gradient(left, rgba(255, 255, 255, 0), #ffffff);
  -webkit-pointer-events: none;
  pointer-events: none;
}
/* line 55, ../sass/textual-theme-subtle.sass */
.textual.textual-theme-subtle .input-validator {
  opacity: 0;
  color: rgba(0, 0, 0, 0);
}
/* line 59, ../sass/textual-theme-subtle.sass */
.textual.textual-theme-subtle .input-validator .selection {
  position: relative;
}
/* line 62, ../sass/textual-theme-subtle.sass */
.textual.textual-theme-subtle .input-validator .selection:not(:last-child):before {
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 69, ../sass/textual-theme-subtle.sass */
.textual.textual-theme-subtle .input-validator .selection.invalid {
  background: rgba(200, 0, 0, 0.2);
}
/* line 74, ../sass/textual-theme-subtle.sass */
.textual.textual-theme-subtle .input-validator .selection[data-validator-label]:before {
  content: attr(data-validator-label);
  position: absolute;
  display: block;
  bottom: -0.7rem;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 0.3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
  color: black;
  padding-top: 0.2rem;
  border-top: 0.1rem solid;
  white-space: nowrap;
}
/* line 91, ../sass/textual-theme-subtle.sass */
.textual.textual-theme-subtle .input-validator .selection[data-validator-label][data-value-length="0"]:before {
  top: -0.7rem;
  border-top: 0;
}
/* line 95, ../sass/textual-theme-subtle.sass */
.textual.textual-theme-subtle .input-validator .selection[data-strength]:before {
  content: "";
  -webkit-transition: background 0.3s;
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.1rem;
}
/* line 105, ../sass/textual-theme-subtle.sass */
.textual.textual-theme-subtle .input-validator .selection[data-strength="weak"]:before {
  background: rgba(200, 0, 0, 0.5);
}
/* line 108, ../sass/textual-theme-subtle.sass */
.textual.textual-theme-subtle .input-validator .selection[data-strength="ok"]:before {
  background: #ffa000;
}
/* line 111, ../sass/textual-theme-subtle.sass */
.textual.textual-theme-subtle .input-validator .selection[data-strength="strong"]:before {
  background: rgba(0, 200, 0, 0.5);
}
/* line 116, ../sass/textual-theme-subtle.sass */
.textual.textual-theme-subtle .textual-field.textual-field-focused .input-display {
  opacity: 1;
}
/* line 119, ../sass/textual-theme-subtle.sass */
.textual.textual-theme-subtle .textual-field.textual-field-focused .input-display.placeholder {
  color: rgba(0, 0, 0, 0.35);
}
/* line 124, ../sass/textual-theme-subtle.sass */
.textual.textual-theme-subtle .textual-field.textual-field-focused .input-validator {
  opacity: 1;
}

@-webkit-keyframes textual-blink {
  /* line 128, ../sass/textual-theme-subtle.sass */
  0% {
    opacity: 1;
  }

  /* line 130, ../sass/textual-theme-subtle.sass */
  50% {
    opacity: 1;
  }

  /* line 132, ../sass/textual-theme-subtle.sass */
  51% {
    opacity: 0;
  }

  /* line 134, ../sass/textual-theme-subtle.sass */
  100% {
    opacity: 0;
  }
}
